@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'anzio';
    src: url(./assets/fonts/file.woff2) format('woff2');
}

.about {
    z-index: 4;
    position: relative;
}


@font-face {
    font-family: 'hungary';
    src: url(/fonts/hungary.otf) format('opentype');
}


@font-face {
    font-family: 'acherus';
    src: url(/fonts/acherus-regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'acherus';
    src: url(/fonts/acherus-regularitalic.otf) format('opentype');
    font-weight: normal;
    font-style: italic;
  }